.parent-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 320px;
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls-container {
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 999;
    list-style-type: none;
}

.controls-container li {
    border-radius: 0.6rem;
    font-size: 1.2rem;
    padding: 4px;
}


.active {

    color: var(--background);
    background: var(--foreground);
}


.input-color input[type="color"] {

    width: 24px;
    height: 24px;
}

@media (min-width: 640px) {
    .parent-container {
        top: 0;
        left: 0;
        right: 0;
        bottom: unset;
        position: absolute;
        padding: 1.2rem;
        border-radius: 1.2rem;
    }
}